<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" 
   "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <meta name="keywords" content="{% block metakeywords %}{% endblock %}" />
  <meta name="description" content="{% block metadescription %}{% endblock %}" />
  <link rel="alternate" type="application/rss+xml"  href="{% block rss_link %}{% endblock %}" title="Rss feed">
  
  <link href="/media/css/main.css" type="text/css" media="screen" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="/media/css/jquery.lightbox-0.5.css" />
  
  <script src="/media/js/jquery-1.3.2.min.js"></script>
  <script src="/media/js/jquery.lightbox-0.5.min.js"></script>
  <script type="text/javascript">
    $(function() {
      $('a.lightbox').lightBox(); // Select all links with lightbox class
    });
  </script>
  {% block extra_head %}{% endblock %}
</head>

<body class="home blog">
  <div class="skip-content"><a href="#content">Skip to content</a></div>
  <div id="header" class="clear">
  </div><!--end header-->
  
  <div class="content-background">
    <div class="wrapper">
      <div id="content">
        <h2 class="pagetitle">{% block content_title %}{% endblock %}</h2>
        {% block content %}{% endblock %}
      </div><!--end content-->
    </div><!--end wrapper-->
  </div><!--end content-background-->

  <div id="footer">
    <div class="wrapper clear">
      <div id="copyright">
        <p class="copyright-notice">Copyright &copy; 2010.</p>
      </div><!--end copyright-->
    </div><!--end wrapper-->
  </div><!--end footer-->
  {% comment %}
  <script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    var pageTracker = _gat._getTracker("");
	  pageTracker._trackPageview();
  </script>
  {% endcomment %}
</body>
</html> 
